
.o{
    height: 200px;
    width: 200px;
   border-radius: 20%;
    background:linear-gradient(45deg,yellow,red,rgb(129, 4, 160));
    justify-content: center;
    align-items: center;
}
.i{
    height: 52%;
    width: 52%;
    background:linear-gradient(45deg,yellow,red,rgb(129, 4, 160));
    top: 40px;
    position: relative;
    margin-left: 38px;
    margin-top: 1px;
    border-radius: 20%;
    box-shadow: 0 0 20px black;
    display: inline-block;
    border: 8px solid white;

}
.j{
    height: 42%;
    width: 42%;
    background:linear-gradient(45deg,yellow,red,rgb(129, 4, 160));
    top: 40px;
    margin-left: 25px;
    margin-top:20px;
    border-radius: 50%;
    box-shadow: 0 0 20px black;
    border: 8px solid white;
    font-size: large;
    
    
}
.n{
    height: 15px;
    width: 15px;
    background-color: white;
    border-radius: 50%;
    display: block;
    margin-left: 83px;
    margin-top: 10px;
    position: absolute;
    
}